$white: #fff;
$black: rgb(0, 0, 0);
$primary: #16b93f;
$green: #00AF2C;
$text-color: #000;
$text-color2: #fff;


$clip-path: polygon(15% 0, 90% 0, 85% 100%, 10% 100%);


$tablet: 1040px;
$phone-L: 650px;
$phone-M: 500px;
$phone-S: 400px;



